apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret-store.yaml
  - external-secret.yaml
  - postgres.yaml
  - configmap.yaml
  - backend.yaml
  - frontend.yaml
  - ingress.yaml
  - policies.yaml

images:
  - name: backend
    newName: ${GAR_URL}/backend
    newTag: latest
  - name: frontend
    newName: ${GAR_URL}/frontend
    newTag: latest
